<div>
                <div class="md-card md-card-hover md-card-overlay">
                    <div class="md-card-content uk-flex uk-flex-center uk-flex-middle">
                        <img style="height:100%;" src="http://viettelhcm.net:7777/mediaroot/media/userfiles/useruploads/582/image/cap%20quang%20viettel.png"
                        />
                    </div>
                    <div class="md-card-overlay-content">
                        <div class="uk-clearfix md-card-overlay-header">
                            <card-overlay-toggle></card-overlay-toggle>
                            <h3>
                                Nạp tiền VietTel
                            </h3>
                        </div>
                        <input type="text" config="topup_mobile_config" options="topup_mobile_prices.options" ng-model="topup_mobile.price"
                            name="topup_mobile_vtel_price" selectize />
                        <input type="text" class="md-input" ng-model="topup_mobile.phone" placeholder='Số điện thoại' md-input />
                        <a class="md-btn" ng-click="Topup('VTEL');" >Nạp</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-card-hover md-card-overlay">
                    <div class="md-card-content uk-flex uk-flex-center uk-flex-middle">
                        <img src="https://tinhte.cdnforo.com/store/2016/03/3638927_y-nghia-logo-Mobifone.jpg" />
                    </div>
                    <div class="md-card-overlay-content">
                        <div class="uk-clearfix md-card-overlay-header">
                            <card-overlay-toggle></card-overlay-toggle>
                            <h3>
                                Nạp tiền Mobi
                            </h3>
                        </div>
                        <input type="text" config="topup_mobile_config" options="topup_mobile_prices.options" ng-model="topup_mobile.price"
                            name="topup_mobile_mobi_price" selectize />
                        <input type="text" class="md-input" ng-model="topup_mobile.phone" placeholder='Số điện thoại' md-input />
                        <a class="md-btn" ng-click="Topup('MOBI');" >Nạp</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-card-hover md-card-overlay">
                    <div class="md-card-content uk-flex uk-flex-center uk-flex-middle">
                        <img style="height:100%;" src="http://resources.dientutieudung.vn/86f1f426961d514c9e8c149edf241ce1/2013/09/27/vinaphone_b/vinaphone_b1.jpg"
                        />
                    </div>
                    <div class="md-card-overlay-content">
                        <div class="uk-clearfix md-card-overlay-header">
                            <card-overlay-toggle></card-overlay-toggle>
                            <h3>
                                Nạp tiền Vina
                            </h3>
                        </div>
                        <input type="text" config="topup_mobile_config" options="topup_mobile_prices.options" ng-model="topup_mobile.price"
                            name="topup_mobile_mobi_price" selectize />
                        <input type="text" class="md-input" ng-model="topup_mobile.phone" placeholder='Số điện thoại' md-input />
                        <a class="md-btn" ng-click="Topup('VINA');" >Nạp</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-card-hover md-card-overlay">
                    <div class="md-card-content uk-flex uk-flex-center uk-flex-middle">
                        <i class='ion-icon-phone'></i>
                    </div>
                    <div class="md-card-overlay-content">
                        <div class="uk-clearfix md-card-overlay-header">
                            <card-overlay-toggle></card-overlay-toggle>
                            <h3>
                                Nạp tiền mạng khác
                            </h3>
                        </div>
                        <input type="text" config="topup_mobile_config" options="topup_mobile_prices.options" ng-model="topup_mobile.price"
                            name="topup_mobile_mobi_price" selectize />
                        <input type="text" class="md-input" ng-model="topup_mobile.phone" placeholder='Số điện thoại' md-input />
                        <a class="md-btn" ng-click="Topup('');" >Nạp</a>
                    </div>
                </div>
            </div>