<div style="margin-left:150px;margin-right:30px;">
                <div class="md-card md-card-hover md-card-overlay" style="width:450px; height:255px">
                    <div class="md-card-content uk-flex uk-flex-center uk-flex-middle" style="height:220px">
                        <i class="material-icons" style="font-size:150px; padding-top:40px; color:#4A8CF7">account_circle</i>
                    </div>
                    <div class="md-card-overlay-content">
                        <div class="uk-clearfix md-card-overlay-header" style="padding-bottom:5px">
                            <card-overlay-toggle></card-overlay-toggle>
                            <h3>
                                Dịch vụ khách hàng
                            </h3>
                            <hr style="border:1px dashed #d7edfc; margin-bottom:0"/>
                        </div>
                        <a style="font-size:17px; margin-top:10px; margin-bottom:4px"><i class="material-icons" style="font-size:27px; margin-right:10px">person</i> Cập nhật tài khoản</a><br/>
                        <hr style="border:1px dashed #d7edfc; margin-bottom:10px; margin-top:10px"/>
                        <a style="font-size:17px;"><i class="material-icons" style="font-size:27px; margin-right:10px">info_outline</i> Thông tin tài khoản</a>
                        <hr style="border:1px dashed #d7edfc; margin-bottom:10px; margin-top:10px"/>
                        <a style="font-size:17px;"><i class="material-icons" style="font-size:27px; margin-right:10px">swap_horiz</i>Lịch sử giao dịch</a>
                        <hr style="border:1px dashed #d7edfc; margin-bottom:10px; margin-top:10px"/>
                        <a style="font-size:17px;"><i class="material-icons" style="font-size:27px; margin-right:10px">search</i> Tìm mã khuyến mãi</a>
                        <hr style="border:1px dashed #d7edfc; margin-bottom:10px; margin-top:10px"/>
                        <a style="font-size:17px;"><i class="material-icons" style="font-size:27px; margin-right:10px">language</i> Tư vấn đầu tư</a>
                    </div>
                </div>
            </div>

            <div style="margin-left:150px;margin-right:30px;">
                <div class="md-card md-card-hover md-card-overlay" style="width:450px; height:255px">
                    <div class="md-card-content uk-flex uk-flex-center uk-flex-middle" style="height:220px">
                        <i class="material-icons" style="font-size:150px; padding-top:40px; color:#7FB547">credit_card</i>
                    </div>
                    <div class="md-card-overlay-content">
                        <div class="uk-clearfix md-card-overlay-header" style="padding-bottom:5px">
                            <card-overlay-toggle></card-overlay-toggle>
                            <h3>
                                Giao dịch ví
                            </h3>
                             <hr style="border:1px dashed #d7edfc; margin-bottom:0"/>
                        </div>
                       <a style="font-size:17px; margin-top:10px; margin-bottom:4px"> <i class="material-icons" style="font-size:27px; margin-right:10px">credit_card</i> Nạp tiền vào ví</a><br/>
                        <hr style="border:1px dashed #d7edfc; margin-bottom:10px; margin-top:10px"/>
                        <a style="font-size:17px;"> <i class="material-icons" style="font-size:27px; margin-right:10px">archive</i>  Rút tiền từ ví</a>
                        <hr style="border:1px dashed #d7edfc; margin-bottom:10px; margin-top:10px"/>
                        <a style="font-size:17px;"><i class="material-icons" style="font-size:27px; margin-right:10px">search</i>Tra cứu/Thanh toán hoá đơn</a>
                        <hr style="border:1px dashed #d7edfc; margin-bottom:10px; margin-top:10px"/>
                        <a style="font-size:17px;"><i class="material-icons" style="font-size:27px; margin-right:10px">swap_horiz</i> Chuyển khoản ví</a>
                        <hr style="border:1px dashed #d7edfc; margin-bottom:10px; margin-top:10px"/>
                        <a style="font-size:17px;"><i class="material-icons" style="font-size:27px; margin-right:10px">send</i>  Chuyển tiền sang ngân hàng</a>
                    </div>
                </div>
            </div>